<module>
  <rawname>pendingchanges</rawname>
  <name>Pending Changes Tripwire</name>
  <version>17.0.0.10</version>
  <publisher>Local</publisher>
  <license>GPLv3+</license>
  <licenselink>https://www.gnu.org/licenses/gpl-3.0.html</licenselink>
  <category>Reports</category>
  <menuitems>
    <pendingchanges>Pending Changes Tripwire</pendingchanges>
  </menuitems>
  <supported>
    <version>17.0</version>
  </supported>
</module>
